/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.notice-error{
  background-color: var(--background-modifier-error);
  font-size: var(--font-ui-larger);
  font-weight: var(--font-bold);
}

.option-text{
  width: 100%;
}

.search-input-container{
  width: 100%;
}